@model LoginViewModel


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Appets</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <link rel="shortcut icon" href="~/images/favicon.ico">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    @*Background*@
    <div class="account-pages"></div>
    @*Begin page*@
    <div class="wrapper-page">

        <div class="card">
            <div class="card-body">

                <h3 class="text-center m-0">
                    <a href="index.html" class="logo logo-admin"><img src="~/images/logo.jpeg" height="80" alt="logo"></a>
                </h3>

                <div class="p-3">
                    <h4 class="text-muted font-18 m-b-5 text-center"></h4>
                    <p class="text-muted text-center">Ingrese sus credenciales para continuar</p>

                    <form class="form-horizontal m-t-30" asp-action="Login" autocomplete="off">

                        <div class="form-group">
                            <label for="username">Usuario</label>
                            <input type="text" class="form-control" asp-for="usu_Identidad" placeholder="Identidad">
                            <span asp-validation-for="usu_Identidad" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="userpassword">Contraseña</label>
                            <input type="password" class="form-control" asp-for="usu_Contraseña" placeholder="Contraseña">
                            <span asp-validation-for="usu_Contraseña" class="text-danger"></span>
                        </div>

                        <div class="form-group row m-t-20">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customControlInline">
                                    <label class="custom-control-label" for="customControlInline">Recuerdame</label>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Inicie Sesión</button>
                            </div>
                        </div>


                        <div class="form-group row m-t-20">
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>

                        </div>

                        <div class="form-group m-t-10 mb-0 row">
                            <div class="col-12 m-t-20">
                                <a href="pages-recoverpw.html" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            <p class="text-white-50">Don't have an account ? <a href="pages-register.html" class="text-white"> Signup Now </a> </p>
            <p class="text-muted">© 2018 Agroxa. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
        </div>

    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/waves.min.js"></script>

    <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.js"></script>


    <script src="~/js/app.js"></script>


</body>

</html>