@model FichaMedicaViewModel
@{
    ViewData["Title"] = "EditarFichaMedica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <style>
        .control-label {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1.1em;
            font-weight: 400;
        }
    </style>
</head>


<form asp-route="SaveFichaM" method="post">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="hidden" id="medic_Id" asp-for="medic_Id" value="@ViewBag.medic_Id" />
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Nombre Mascota</label>
                                <select asp-for="masc_Id" class="form-control" asp-items="Model.Fichalist">
                                    <option>Seleccione una opcion</option>
                                </select>
                                <span class="text-danger" asp-validation-for="masc_Id" id="errorMessage"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label class="control-label">Personalidad</label>
                                <textarea class="form-control" asp-for="medic_Personalidad" id="medic_Personalidad" type="text" maxlength="100" required></textarea>
                                <span class="text-danger" id="ErrorMessage"></span>
                            </div>
                        </div>

                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label class="control-label">Cuidados de Salud</label>
                                <textarea class="form-control" asp-for="medic_SaludCuidado" id="medic_SaludCuidado" type="text" maxlength="100"></textarea>
                                <span class="text-danger" id="ErrorMessage"></span>
                            </div>
                        </div>


                    </div>


                    <div class="row">

                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label class="control-label">Información Adicional</label>
                                <textarea class="form-control" asp-for="medic_InformacionAdicional" id="medic_InformacionAdicional" type="text" maxlength="50"></textarea>
                                <span class="text-danger" id="ErrorMessage"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label class="control-label">Esterilización</label>
                            <input class="form-control checkbox" asp-for="medic_Esterilizacion" id="medic_Esterilizacion" type="checkbox" maxlength="50" required />
                            <span class="text-danger" id="ErrorMessage"></span>
                        </div>
                    </div>

                    <div class="form-group row m-t-20">
                        <div class="col-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-raised"><i class="mdi mdi-content-save"></i><span>@(Model.medic_Id > 0 ? "Guardar Cambios" : "Guardar")</span></button>
                            <a style="background-color:gray;color:white" asp-controller="FichaMedica" asp-action="Index" class="btn btn-secundary">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts{

    <script src="~/js/Catalogo/list/list-ficha-medica.js"></script>

}

