@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Adopta  <a href="https://docs.microsoft.com/aspnet/core">una mascota en línea</a>.</p>
</div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/js/gallery-css.js.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script src="~/js/galeria.js"></script>

<!-- Page Content -->
<div class="container page-top">



    <div class="row">


        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="" class="fancybox" rel="ligthbox">

                <img src="~/images/BARTON-FTP-1-500x500.jpg" class="zoom img-fluid " />

            </a>

            @*<button class="btn btn-warning"  href="~/Solicitud/AgregarSolicitud">Adoptar</button>*@

        </div>
        
       

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="" class="fancybox" rel="ligthbox">
                <img src="~/images/BATMAN-ADOPT-500x500.jpg" class="zoom img-fluid" />

            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="" class="fancybox" rel="ligthbox">
                <img src="~/images/CHARLIE-FP2-500x500.jpg" class="zoom img-fluid" />
            </a>
            @*<button class="btn btn-warning">Adoptar</button>*@
        </div>


        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="" class="fancybox" rel="ligthbox">
                <img src="~/images/DAMA-ADOPT-500x500.jpg" class="zoom img-fluid" />
            </a>

        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="" class="fancybox" rel="ligthbox">
                <img src="~/images/TACO-a-500x500.jpg" class="zoom img-fluid" />
            </a>
            @*<button class="btn btn-warning">Adoptar</button>*@
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="" class="fancybox" rel="ligthbox">
                <img src="~/images/sabby.jpg" class="zoom img-fluid" />
            </a>
            @*<button class="btn btn-warning">Adoptar</button>*@
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="" class="fancybox" rel="ligthbox">

                <img src="~/images/robby.jpg" class="zoom img-fluid" />
            </a>
            @*<button class="btn btn-warning">Adoptar</button>*@
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="" class="fancybox" rel="ligthbox">
                <img src="~/images/LUKAS-FTP-1-500x500.jpg" class="zoom img-fluid" />
            </a>
            @*<button class="btn btn-warning">Adoptar</button>*@

        </div>




    </div>




</div>

